[
    (
        header: (name: "FOO", infos: []),
        body: [Print([], "foo")],
    ),
    (
        header: (name: "FOO", infos: []),
        body: [Print([], "foo")],
    ),
    (
        header: (name: "BAR", infos: []),
        body: [Print([], "bar")],
    ),
]
