[
    (
        header: (name: "FOO", args: [], infos: []),
        body: [Print([], "foo")],
    ),
    (
        header: (name: "FOO", args: [], infos: []),
        body: [Print([], "foo")],
    ),
    (
        header: (name: "BAR", args: [], infos: []),
        body: [Print([], "bar")],
    ),
]
