[
    Assign(
        (name: "LOCALS", args: []),
        None,
        FormText((first: "", other: [(IntLit(123), "456")])),
    ),
    Assign(
        (name: "LOCALS", args: []),
        None,
        FormText((
            first: "",
            other: [
                (Var((name: "LOCAL", args: [IntLit(0)])), "."),
                (Method("TOSTR", [Var((name: "LOCAL", args: [IntLit(1)])), StringLit("00")]), ""),
            ]
        )),
    ),
    Assign(
        (name: "NICKNAME", args: [Var((name: "MASTER", args: []))]),
        None,
        FormText((
            first: "",
            other: [
                (
                    CondExpr(
                        Var((name: "TALENT", args: [Var((name: "MASTER", args: [])), IntLit(120)])),
                        FormText((first: "신사", other: [])),
                        FormText((first: "숙녀", other: [])),
                    ),
                    "",
                ),
            ],
        ))
    )
]
