[
    If(
        [
            (
                BinopExpr(
                    Var(
                        Variable (
                            name: "A",
                            args: [],
                        ),
                    ),
                    Greater,
                    IntLit(
                        1,
                    ),
                ),
                [
                    Print(
                        [],
                        "A > 1",
                    ),
                ],
            ),
            (
                BinopExpr(
                    Var(
                        Variable (
                            name: "A",
                            args: [],
                        ),
                    ),
                    Equal,
                    IntLit(
                        1,
                    ),
                ),
                [
                    Print(
                        [],
                        "A == 1",
                    ),
                ],
            ),
        ],
        Some(
            [
                Print(
                    [],
                    "A < 1",
                ),
            ]
        ),
    ),
]