[
    (
        header: (name: "FOO", args: [], infos: []),
        body: [
            LoadInt(1),
            LoadInt(1),
            BinaryOperator(Add),
            ListBegin,
            ListEnd,
            LoadStr("LOCAL"),
            StoreVar,
            ListBegin,
            LoadStr("1 + 1 = "),
            ListBegin,
            ListEnd,
            LoadStr("LOCAL"),
            LoadVar,
            LoadStr(""),
            ListEnd,
            ConcatString,
            Print(["NEWLINE"]),
        ]
    )
]
