[
    (
        header: (name: "FOO", args: [], infos: []),
        body: [
            LoadStr("Hello, world!"),
            Print(["NEWLINE"]),
        ],
    ),
    (
        header: (name: "FOO", args: [], infos: []),
        body: [
            LoadStr("Hello, world!"),
            Print(["NEWLINE"]),
        ],
    ),
]