[
    (
        ty: Normal("FOO"),
        body: [
            LoadStr("Hello, world!"),
            Print(["NEWLINE"]),
        ],
    ),
    (
        ty: Normal("FOO"),
        body: [
            LoadStr("Hello, world!"),
            Print(["NEWLINE"]),
        ],
    ),
]